*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.colorFont {
    color: rgb(69, 69, 159);
}

/* ------------------------------ HEADER ------------------------------------------ */



/* -------------------------------------------------------------------------------- */

/* ------------------------------ BANNER ------------------------------------------ */


/* -------------------------------------------------------------------------------- */
/* ------------------------------ MAIN -------------------------------------------- */



/* -------------------------------------------------------------------------------- */

/* ------------------------------ Section -------------------------------------------- */

.desaparecer {
    visibility: hidden;
}

/* -------------------------------------------------------------------------------- */

/* ------------------------------ FOOTER -------------------------------------------- */



/* -------------------------------------------------------------------------------- */
/* ------------------------------ TABLAS ------------------------------------------- */



/* -------------------------------------------------------------------------------- */
/* ------------------------------ FORMULARIO -------------------------------------- */



/* -------------------------------------------------------------------------------- */