* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.colorFont {
    color: #96305a;
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}

/* ------------------------------ HEADER ------------------------------------------ */

.bordeMain{
    margin-top: 4rem
}

.comprasFont {
    font-size: 3rem;
}

.navEstilo {
    background: rgb(51, 0, 0);
    background: linear-gradient(340deg, rgba(51, 0, 0, 1) 0%, rgba(98, 22, 47, 1) 100%);
}

.botonproductocarrito{
    background-color: #bd5f86;
}
.botonHamburguesa {
    background-color: #742646;
}

.botonLogin {
    margin-right: 20px;
}

.btn-dark {
    background-color: #682843;
    border-color: #682843;
}

.btn-dark:hover {
    background-color: #5d1c58;
    border-color: #5d1c58;
}


.botonCarrito {
    background-color: #bd5f86;
    color: white;
}

.botonCarrito:hover {
    background-color: #e472a2;
    color: white;
}

.botonRegistro {
    background-color: #f37badef;
    color: white;
    margin-top: 10px;
}

.botonRegistro:hover {
    background-color: #e472a2;
    color: white;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem #742646;
}

.btnProducto {
    padding: 0.2rem 0.35rem;
}

.btnProductoCarrito {
    padding: 0.15rem 0.3rem;
    border-radius: 20px;
}

.btn:active {
    box-shadow: 0 0 0 0.25rem #742646;
}

.nav-link:hover {
    color: #ca678e;
}

.navEstilo a {
    color: white;
}

.nav-item {
    padding-left: 30px;
}


.link {
    text-decoration: none;
    color: #fed5e6;
}

.padding {
    padding-left: 7rem;
}

.link a {
    text-decoration: none;
    color: #fed5e6;
}

.linkProductos {
    text-decoration: none;
    list-style: none;
    color: white;
}

.linkProductos:hover {
    color: rgb(245, 120, 170);
}

.border-bottom {
    border-bottom: 1px solid #8a3b8b36 !important;
}

.favicon {
    width: 5%;
    height: auto;
}

/* -------------------------------------------------------------------------------- */

/* ------------------------------ MAIN -------------------------------------------- */

.botonEstilo {
    background-color: #96305a;
    border-color: #96305a;
}

.botonEstilo:hover {
    background-color: #742646;
    border-color: #742646;
}

.mainInicio {
    background: rgb(202, 103, 142);
    background: linear-gradient(340deg, rgba(202, 103, 142, 0.7682423311121324) 0%, rgba(255, 159, 197, 0.4265056364342612) 100%);
}

.carruselProductos {
    width: 100%;
    height: 36rem;
    object-fit: cover;
    background-color: #501f5024;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.381);
}

.img {
    width: 100%;
    height: 37rem !important;
    object-fit: none;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.imgProducto {
    width: 100%;
    height: 35rem !important;
    object-fit: none;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.productoFont {
    font-size: 3rem;
}

.desaparecer2 {
    visibility: hidden;
    height: 4rem;
}

.precio {
    font-size: larger;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bodyLogin {
    display: flex;
    height: 100%;
    background: rgb(98, 22, 47);
    background-image: url(../multimedia/imgLogin2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.formLogin{
    height: 100%;
}

.listaLogin {
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    margin-top: 100px;
    padding: 15px;
    margin: auto;
    color: white;
    border-radius: 40px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mainCarrito{
    height: 35rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(../multimedia/productosCarrusel2);

}

li {
    list-style: none;
}
.divMainCarrito {
    width: 90%;
    height: 30rem;
    background-color: white;
    padding: 40px;
    border: 20px;
    border-radius: 30px 0px 0px 30px;
    box-shadow: 0px 0px 20px 20px #bd5f86b6;
    overflow-y: auto;
}


.cardProducto {
    width: 17rem;
}

#imgProducto {
    width: 14rem;
    height: 18rem;
}
.fontProducto {
    color: rgb(77, 74, 61)
}

/* -------------------------------------------------------------------------------- */

/* ------------------------------ Section -------------------------------------------- */

.desaparecer {
    visibility: hidden;
    height: 15rem;
}

#estiloCategoria1 {
    background-image: linear-gradient(165deg, rgba(28, 36, 38, 1) 0%, rgba(72, 106, 97, 0.9363095580028886) 100%), url(../multimedia/imgCategoria1.jpg);
    background-size: cover;
}

#estiloCategoria2 {
    background-image: linear-gradient(165deg, rgba(150, 92, 11, 0.8046568969384629) 0%, rgba(192, 0, 255, 0.7122199221485469) 100%), url(../multimedia/imgCategoria2);
    background-size: cover;
    background-repeat: no-repeat;
}

#estiloCategoria3 {
    background-image: linear-gradient(165deg, rgba(150, 11, 11, 1) 0%, rgba(255, 197, 0, 0.7122199221485469) 100%), url(../multimedia/imgCategoria3.jpg);
    background-size: cover;
}

/* -------------------------------------------------------------------------------- */

/* ------------------------------ FOOTER -------------------------------------------- */

.footerInicio {
    background-color: #62162f;
}


.footerb {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    padding: 20px;
}

.footerLista {
    list-style: none;
}

.footer_style {
    background: rgb(98, 22, 47);
    background: linear-gradient(340deg, rgba(98, 22, 47, 0.984) 0%, rgba(150, 48, 90, 0.984) 100%);
    color: #ffbaaf;
}

.footer_h3 {
    padding-bottom: 15px;
}

.redes {
    position: fixed;
    bottom: 43%;
    right: 0px;
}

.redes img {
    display: block;
    width: 50px;
}

@media screen and (max-width: 768px) {
    .footer {
        height: 550px;
        font-size: 40px;
    }

    .footer_h3 {
        padding-bottom: 70px;
    }

    .width_footer {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .redes {
        display: none;
    }

}

/* -------------------------------------------------------------------------------- */
/* ------------------------------ TABLAS ------------------------------------------- */



/* -------------------------------------------------------------------------------- */
/* ------------------------------ FORMULARIO -------------------------------------- */



/* -------------------------------------------------------------------------------- */